.header-container {
<<<<<<< HEAD
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  display: flex;
  flex-direction: column;

  justify-content: center;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  margin-top: 0;
  
}

.header-text {
  font-size: 36px;
  color: #fff;
  margin-bottom: 0.5rem;
}

nav {
  display: flex;
  gap: 1rem;
  justify-content: center;
  width: 100%;
}

.nav-link {
  font-size: 1.5rem; /* Increase the font size for buttons */
  color: #e6e6e6;
  text-decoration: none;
}

.nav-link:hover {
  color: #c4a7ff;
}
=======
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
  }
  
  .header-text {
    font-size: 36px;
    color: #fff;
  }
  
>>>>>>> parent of 61e0e3d (Meow)
